---

---

<footer id="footer" class="px-3 pt-5 pb-4">
  <main
    class="d-flex flex-column row-gap-4 flex-xl-row justify-content-xl-between text-light m-0 p-0 mx-auto"
    style="max-width: 1100px;"
  >
    <div
      class="footer-left col-12 p-0 mx-auto mx-xl-0"
      style="max-width: 540px;"
    >
      <h6 class="fw-semibold mb-3" style="height: 20px; font-size:.9rem;">
        compleet labs
      </h6>
      <p
        class="mb-3 col-xl-8 text-white text-opacity-50"
        style="font-size: .9rem;"
      >
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec ullamcorper nulla.
      </p>
      <ul class="p-0 m-0 list-unstyled d-flex column-gap-3">
        <li>
          <svg
            width="15px"
            enable-background="new 0 0 56.693 56.693"
            id="Layer_1"
            version="1.1"
            viewBox="0 0 56.693 56.693"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            data-astro-cid-j7pv25f6=""
            ><path
              d="M52.837,15.065c-1.811,0.805-3.76,1.348-5.805,1.591c2.088-1.25,3.689-3.23,4.444-5.592c-1.953,1.159-4.115,2-6.418,2.454  c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581,0-10.106,4.525-10.106,10.107c0,0.791,0.089,1.562,0.262,2.303  c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87,1.492-1.368,3.228-1.368,5.082c0,3.506,1.784,6.6,4.496,8.412  c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001,0.042-0.001,0.085-0.001,0.128c0,4.896,3.484,8.98,8.108,9.91  c-0.848,0.23-1.741,0.354-2.663,0.354c-0.652,0-1.285-0.063-1.902-0.182c1.287,4.015,5.019,6.938,9.441,7.019  c-3.459,2.711-7.816,4.327-12.552,4.327c-0.815,0-1.62-0.048-2.411-0.142c4.474,2.869,9.786,4.541,15.493,4.541  c18.591,0,28.756-15.4,28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769,18.873,51.483,17.092,52.837,15.065z"
              data-astro-cid-j7pv25f6=""></path></svg>
        </li>
        <li>
          <svg
            viewBox="0 0 24 24"
            width="15px"
            xmlns="http://www.w3.org/2000/svg"
            data-astro-cid-j7pv25f6=""
            ><g
              id="SVGRepo_bgCarrier"
              stroke-width="0"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_iconCarrier"
              data-astro-cid-j7pv25f6=""
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.86469 20.5828C5.44869 19.7374 4.22245 18.5294 3.33931 16.9997C2.45687 15.4713 2.02377 13.8067 1.99902 12.159L2.14358 12.1875C5.09262 12.7683 8.44759 11.7182 11.2053 10.0251C11.5679 9.8024 11.9235 9.56661 12.2695 9.31944C12.6827 9.83542 13.0527 10.3587 13.3508 10.875C13.7245 11.5223 14.0626 12.2923 14.3647 13.1149C13.8473 13.3653 13.3429 13.641 12.8569 13.9368C10.065 15.6356 7.68322 18.1135 6.86513 20.5815L6.86469 20.5828ZM16.2596 21.0475C13.6547 22.2776 10.7413 22.2853 8.22087 21.2588L8.28894 21.0535C8.95248 19.0517 11.0084 16.8174 13.6366 15.2182C14.0314 14.9779 14.4347 14.7547 14.8433 14.5507C15.0955 15.3805 15.314 16.2223 15.4984 17.0128C15.7377 18.0383 15.9153 18.9575 16.033 19.6201C16.0918 19.9512 16.1356 20.2176 16.1645 20.4004C16.179 20.4919 16.1898 20.5624 16.1969 20.6096L16.2047 20.6626L16.2066 20.6755L16.2071 20.6791L16.2596 21.0475Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                d="M16.2259 13.9425C18.1134 13.2236 20.0374 12.9473 21.7027 13.3127L21.9074 13.3576C21.7856 14.2418 21.5463 15.1071 21.1961 15.9286C20.4717 17.6278 19.273 19.1396 17.6585 20.2451L17.6461 20.166C17.6158 19.9748 17.5705 19.699 17.5099 19.3578C17.3887 18.6757 17.206 17.7295 16.9592 16.672C16.7602 15.8192 16.5167 14.8803 16.2259 13.9425Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                d="M13.4525 8.39743C15.1812 6.92819 16.5396 5.18651 17.1247 3.44818L17.1351 3.41705C18.5508 4.26242 19.7768 5.47033 20.6598 6.99972C21.5426 8.52873 21.9757 10.194 22.0001 11.8423C20.0045 11.4109 17.8139 11.7412 15.7443 12.5213C15.4235 11.6577 15.0594 10.8345 14.6498 10.125C14.3136 9.54274 13.9035 8.96194 13.4525 8.39743Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                d="M8.31859 3.45405C8.06656 3.25473 7.86132 3.09745 7.71835 2.98945L7.69599 2.97258C9.45843 2.13001 11.3643 1.84893 13.1954 2.07088C14.0827 2.17844 14.9525 2.40412 15.7799 2.74129L15.703 2.96973C15.2258 4.38768 14.0529 5.92038 12.4746 7.26043C11.7443 6.46537 10.9739 5.7288 10.2721 5.09932C9.5149 4.42018 8.82228 3.85238 8.31859 3.45405Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                d="M10.4204 8.74678C7.83381 10.3349 4.87005 11.1956 2.43343 10.7157L2.09084 10.6483C2.46012 7.95488 3.91943 5.43745 6.28141 3.7952L6.60935 4.03361L6.61139 4.0351L6.62073 4.04194L6.65977 4.07072C6.6946 4.09652 6.74673 4.13536 6.81423 4.18635C6.94926 4.28834 7.14566 4.43883 7.38814 4.63059C7.8735 5.01443 8.54149 5.56206 9.27055 6.21597C9.93035 6.80777 10.6282 7.47615 11.2825 8.18057C11.0033 8.37645 10.7155 8.5656 10.4204 8.74678Z"
                data-astro-cid-j7pv25f6=""></path>
            </g></svg>
        </li>
        <li>
          <svg
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            width="15px"
            data-astro-cid-j7pv25f6=""
            ><g
              id="SVGRepo_bgCarrier"
              stroke-width="0"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_iconCarrier"
              data-astro-cid-j7pv25f6=""
            >
              <rect
                x="0"
                fill="none"
                width="20"
                height="20"
                data-astro-cid-j7pv25f6=""></rect>
              <g data-astro-cid-j7pv25f6="">
                <path
                  d="M2.89 2h14.23c.49 0 .88.39.88.88v14.24c0 .48-.39.88-.88.88h-4.08v-6.2h2.08l.31-2.41h-2.39V7.85c0-.7.2-1.18 1.2-1.18h1.28V4.51c-.22-.03-.98-.09-1.86-.09-1.85 0-3.11 1.12-3.11 3.19v1.78H8.46v2.41h2.09V18H2.89c-.49 0-.89-.4-.89-.88V2.88c0-.49.4-.88.89-.88z"
                  data-astro-cid-j7pv25f6=""></path>
              </g>
            </g></svg>
        </li>
        <li>
          <svg
            viewBox="0 0 24 24"
            width="15px"
            xmlns="http://www.w3.org/2000/svg"
            data-astro-cid-j7pv25f6=""
            ><g
              id="SVGRepo_bgCarrier"
              stroke-width="0"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-astro-cid-j7pv25f6=""></g><g
              id="SVGRepo_iconCarrier"
              data-astro-cid-j7pv25f6=""
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                data-astro-cid-j7pv25f6=""></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"
                data-astro-cid-j7pv25f6=""></path>
            </g></svg>
        </li>
      </ul>
    </div>

    <div
      class="footer-right col-12 p-0 mx-auto mx-xl-0"
      style="max-width: 540px;"
    >
      <ul
        class="list p-0 m-0 h-100 col-12 list-unstyled d-flex align-items-center"
      >
        <li class="h-100 d-flex flex-column">
          <h6
            class="d-flex align-items-center mb-3"
            style="font-size: .6rem; min-height:20px;"
          >
            SITEMAP
          </h6>
          <ul
            class="list-unstyled d-flex flex-column justify-content-between h-100"
          >
            <li><a class="text-decoration-none" href="">Home</a></li>
            <li><a class="text-decoration-none" href="">Technology</a></li>
            <li><a class="text-decoration-none" href="">Services</a></li>
            <li><a class="text-decoration-none" href="">About</a></li>
          </ul>
        </li>
        <li class="h-100 d-flex flex-column">
          <h6
            class="d-flex align-items-center mb-3"
            style="font-size: .6rem; min-height:20px;"
          >
            CASE STUDIES
          </h6>
          <ul
            class="list-unstyled d-flex flex-column justify-content-between h-100"
          >
            <li><a class="text-decoration-none" href="">Swiss Airlines</a></li>
            <li><a class="text-decoration-none" href="">Google</a></li>
            <li><a class="text-decoration-none" href="">Apple</a></li>
            <li><a class="text-decoration-none" href="">Nike</a></li>
          </ul>
        </li>
        <li class="h-100 d-flex flex-column">
          <h6
            class="d-flex align-items-center mb-3"
            style="font-size: .6rem; min-height:20px;"
          >
            CONTACT
          </h6>
          <ul
            class="list-unstyled d-flex flex-column justify-content-between h-100"
          >
            <li><a class="text-decoration-none" href="">Jobs</a></li>
            <li><a class="text-decoration-none" href="">Hire us</a></li>
            <li class="invisible"><a href=""></a>""</li>
            <li class="invisible"><a href=""></a>""</li>
          </ul>
        </li>
      </ul>
    </div>
  </main>

  <div id="footer-info" class="text-center">
    <hr class="text-light" />
    <p class="text-light">Hecho por Adán Maidana</p>
    <a href="https://www.linkedin.com/in/adanmaidana/" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-white p-2 rounded-2 border">Linkedin <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z" fill="#ffffff"></path> <path d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z" fill="#ffffff"></path> <path d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z" fill="#ffffff"></path> </g></svg></a>
  </div>
</footer>

<style>
  .footer-right > .list {
    justify-content: space-between;
  }

  .footer-right > .list a {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
  }

  .footer-right > .list a:hover {
    color: #fff;
  }

  svg {
    fill: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
  }

  svg:hover {
    cursor: pointer;
    fill: #fff;
  }

  @media (min-width: 1200px) {
    .footer-right > .list {
      justify-content: start;
      column-gap: 6rem;
    }
  }

  #footer-info {
    max-width: 540px;
    margin: 0 auto;
  }

  #footer-info a {
    font-size: .9rem;
    background-color: var(--light-blue);
    transition: background .3s;
  }

  #footer-info a:hover {
    background-color: #2b54bb;
  }

  #footer-info svg {
    width: 25px;
  }

  @media (min-width: 1200px) {
    #footer-info {
      max-width: 1100px;
    }
  }


</style>
